<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/table.css" type="text/css">
    <meta charset="UTF-8">
    <title>Solve Assignment</title>
</head>
<body>
    <h1>Solve Assignment</h1>
    <form action="/code" method="POST">
        <input type="number" name="aid" placeholder="Assignment Number"><br><br>
        <input type="text" name="sid" placeholder="Student ID"><br><br>
        <textarea name="code" placeholder="Code" rows="20" columns="50"></textarea><br><br>
        <input type="submit" value="Submit" class="btnhome"><br>
    </form>
</body>
</html>